# Dependencies

In [1]:
import pandas as pd

# Store CSV

In [2]:
# Read .csv files and store them in variables
citiData202001 = pd.read_csv("data/JC-202001-citibike-tripdata.csv")
citiData202002 = pd.read_csv("data/JC-202002-citibike-tripdata.csv")
citiData202003 = pd.read_csv("data/JC-202003-citibike-tripdata.csv")
citiData202004 = pd.read_csv("data/JC-202004-citibike-tripdata.csv")
citiData202005 = pd.read_csv("data/JC-202005-citibike-tripdata.csv")
citiData202006 = pd.read_csv("data/JC-202006-citibike-tripdata.csv")
citiData202007 = pd.read_csv("data/JC-202007-citibike-tripdata.csv")
citiData202008 = pd.read_csv("data/JC-202008-citibike-tripdata.csv")
citiData202009 = pd.read_csv("data/JC-202009-citibike-tripdata.csv")
citiData202010 = pd.read_csv("data/JC-202010-citibike-tripdata.csv")
citiData202011 = pd.read_csv("data/JC-202011-citibike-tripdata.csv")
citiData202012 = pd.read_csv("data/JC-202012-citibike-tripdata.csv")

# Create a Data Frame

In [3]:
# Combine all .csv files in one single file.
citi_bike_frames = [citiData202001, citiData202002, citiData202003, citiData202004, citiData202005, citiData202006,
                   citiData202007,citiData202008,citiData202009,citiData202010,citiData202011,citiData202012]
citi_data_final = pd.concat(citi_bike_frames)

# Preview of the data
citi_data_final.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

# Clean Data

In [4]:
# Identify incomplete rows
citi_data_final.count()

tripduration               336802
starttime                  336802
stoptime                   336802
start station id           336802
start station name         336802
start station latitude     336802
start station longitude    336802
end station id             336802
end station name           336802
end station latitude       336802
end station longitude      336802
bikeid                     336802
usertype                   336802
birth year                 336802
gender                     336802
dtype: int64

In [5]:
# Drop all rows with missing information
citi_data_final = citi_data_final.dropna(how='any')

In [6]:
# Verify dropped rows
citi_data_final.count()

tripduration               336802
starttime                  336802
stoptime                   336802
start station id           336802
start station name         336802
start station latitude     336802
start station longitude    336802
end station id             336802
end station name           336802
end station latitude       336802
end station longitude      336802
bikeid                     336802
usertype                   336802
birth year                 336802
gender                     336802
dtype: int64

# Import Clean CSV

In [7]:
citi_data_final.to_csv('Citi_Data_Final.csv')